
{% extends 'default_frame.twig' %}

{% set body_class = 'news_page' %}

{% block main %}
<div class="ec-role">
    <div class="ec-pagerRole">
        {% include "pager.twig" with {'pages': pagination.paginationData} %}
    </div>

    <div class="ec-newsRole">

        <div class="ec-newsRole__news">
            {% for News in pagination %}
                <div class="ec-newsRole__newsItem">
                    <div class="ec-newsRole__newsHeading">
                        <div class="ec-newsRole__newsDate">
                            {{ News.publish_date|date_day }}
                        </div>
                        <div class="ec-newsRole__newsColumn">
                            <div class="ec-newsRole__newsTitle">
                                <a href="{{ url('plg_news_detail', {'id' : News.id}) }}">{{ News.title }}</a>
                            </div>
                            {% if News.description or News.url %}
                                <div class="ec-newsRole__newsClose">
                                    <a class="ec-newsRole__newsCloseBtn">
                                        <i class="fas fa-angle-down"></i>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="ec-newsRole__newsDescription">
                        {% if News.url %}
                            <br>
                            <a href="{{ News.url }}" {% if News.link_method == '1' %}target="_blank"{% endif %}>{{ 'front.block.news.see_details'|trans }}</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="ec-pagerRole">
        {% include "pager.twig" with {'pages': pagination.paginationData} %}
    </div>
</div>
{% endblock %}